Todays's task\
-Dict comprihansen\
-mysql oprations\
    - orderby\
    - count\
    - having\
    - aggrogation\
    - Uniqe key\
    - Joints\
    - Python database connectivity\
    - CRUD oprations

### Dict comprihansion
- zip only loop thorth small link
- fromkeys(loop,value) if vales are specific (dont change)

In [ ]:
keys = [1,2,3,4,5,6,7]
values = ["a","b","c","d","e","f","i"]
myDict = { k:v for k,v in zip(keys,values)}
print(myDict)

In [ ]:
dic = dict.fromkeys(range(5),True)
dic
l="GFG"
dic = {
	x: {y: x + y for y in l} for x in l
}
print(dic)

### dict oprations

- clear() [ remove all items]
- copy() [make a copy its dont affect other]
- fromkeys() [usr for crating initial dict]
- get() [ get value from key , *if not present its return none not error* ]
- items() [giv key, vlues pairs]
- keys() [return list of keys]
- values() [return list of values]
- pop() [remove item or return None]
- popitem() [ if not present its thow error][remove last item]
- setdefault() 
- update() [ add other dict or update from other dict]

In [ ]:
#clear()
text = {1: "raj", 2: "patel"}
print(text)
text.clear()
print(text)
#copy()
text = {1: "raj", 2: "patel"}
print(id(text))
raj = text.copy()
id(raj)

#fromkeys
keys= [1,2,3,4,5,6]
dic = dict.fromkeys(keys,True)
print(dic)

#get()
text = {1: "raj", 2: "patel"}
print(text.get(3))

#items()
text = {1: 1, 2: 2}
for k,v in text.items():
    print(k," ",v)

#keys()
text = {1: 1, 2: 2}
print(text.keys())

#values()
print(text.values())

#pop()
print(text.pop(5,None))

#popitem()
text.popitem()
#update()
Dictionary1 = {'A': 1} 
sets = {1:1,2:2,3:3}
print(Dictionary1)
Dictionary1.update(B=2, C=3)
Dictionary1.update(sets)
print(Dictionary1)
#setdefult()
text.setdefault("r",34)
print(text)

# Mysql

**MySql shell**

__connection__\
`\sql [swich js to Mysql];`\
`\connect root@localhost`\
`\connect Rajpatel@localhost;`

**create database**\
```CREATE SCHEMA `raj_intern_prectice` ;```\
or \
```CREATE DATABASE testDB;```

**create table**
- create table (CREATE)
- update table (MODIFY)
- update table (ADD)
- drop   table (DROP)

In [ ]:
CREATE TABLE Persons (
    PersonID int,
    LastName varchar(255),
    FirstName varchar(255),
    Address varchar(255),
    City varchar(255)
);

ALTER TABLE Persons
ADD DateOfBirth date;

ALTER TABLE Persons
MODIFY COLUMN DateOfBirth year;

ALTER TABLE Persons
DROP COLUMN DateOfBirth;

**constrains**
- NOT NULL
- UNIQUE
- PRIMARY KEY
- FOREIGN KEY
- CHECK
- DEFAULT
- [CREATE INDEX](https://stackoverflow.com/questions/1108/how-does-database-indexing-work)

In [ ]:
-- not null
ALTER TABLE Persons
MODIFY PersonID int NOT NULL;

-- UNIQUE
ALTER TABLE Persons
ADD CONSTRAINT UC_Person UNIQUE (PersonID,LastName);

ALTER TABLE Persons
DROP INDEX UC_Person;

-- PRIMARY KEY & FOREIGN KEY
CREATE TABLE Orders(
OrderID int NOT NULL,
OrderNamber int NOT NULL,
PersonID int,
PRIMARY KEY (OrderID),
FOREIGN KEY (PersonID) REFERENCES Persons(PersonID) );

ALTER TABLE Orders
DROP FOREIGN KEY  orders_ibfk_1 ;

--CHECK
ALTER TABLE Persons1
ADD CONSTRAINT CHK_PersonAge CHECK (Age>=18);

ALTER TABLE Persons1
DROP CHECK CHK_PersonAge;

--Default
ALTER TABLE Persons
ALTER  LastName  SET Default "PATEL";

ALTER TABLE Persons
ALTER  LastName drop  Default ;

--INDEX
CREATE INDEX idx_lastname
ON Persons(LastName);

ALTER TABLE Persons
DROP INDEX idx_lastname;

--VIEW
CREATE VIEW RAJ AS
SELECT FirstName , LastName 
FROM Persons;

SELECT * FROM RAJ;
DROP VIEW RAJ;

### Insert value in database

In [ ]:
CREATE TABLE Books2(
    BookID   int  NOT NULL PRIMARY KEY AUTO_INCREMENT,
    BookName   varchar (50) NULL,
    Category   varchar (50) NULL,
    Price   numeric (18, 2) NULL,
    Price_Range varchar (20) NULL
);

INSERT INTO Books2
    (BookName, Category, Price, Price_Range)
VALUES	
    ('Computer Architecture', 'Computers', 125.6, '100-150'),
    ('Advanced Composite Materials', 'Science', 172.56, '150-200'),
    ('Asp.Net 4 Blue Book', 'Programming', 56.00, '50-100'),
    ('Strategies Unplugged', 'Science', 99.99, '50-100'),
    ('Teaching Science', 'Science', 164.10, '150-200'),
    ('Challenging Times', 'Business', 150.70, '150-200'),
    ('Circuit Bending', 'Science', 112.00, '100-150'),
    ('Popular Science', 'Science', 210.40, '200-250'),
    ('ADOBE Premiere', 'Computers', 62.20, '50-100');

### single table oprations
- Where

- Like [ _ single caractor , % multi caractor]
- Aggrogation function (USING GROUP BY)
    - MAX
    - SUM
    - COUNT
    - AVG
- Having
- Orderby

In [ ]:
SELECT * FROM raj_intern_prectice.books2
where Price_Range Between 50 and 150;

-- start with s
SELECT * FROM raj_intern_prectice.books2
where  Category  Like 's%';
                         
SELECT MAX(Price) FROM raj_intern_prectice.books2
group by Category;

SELECT SUM(Price) FROM raj_intern_prectice.books2
group by Category;

SELECT COUNT(Price) FROM raj_intern_prectice.books2
group by Category;

SELECT AVG(Price) FROM raj_intern_prectice.books2
group by Category;

-- filter after Gorup By
SELECT AVG(Price) AS avgp FROM raj_intern_prectice.books2
group by Category
Having avgp>100 ;

-- asc desc
SELECT AVG(Price) AS avgp FROM raj_intern_prectice.books2
group by Category
Having avgp>100 
order by avgp desc;



### multiple tables
- JOINS
    - self join
    - innser join
    - left join
    - right join

In [ ]:
-- sef join
SELECT * 
FROM bookstore.books as A , bookstore.books as B
where A.Price > 100 and B.AuthorId = 1;

--Inner Join
SELECT *
FROM Books
INNER JOIN Categories
ON Books.CategoryId = Categories.Id;

-- Left Join
SELECT *
FROM Books
LEFT JOIN Categories
ON Books.CategoryId = Categories.Id;

-- Right join
SELECT *
FROM Books
Right JOIN Categories
ON Books.CategoryId = Categories.Id;


### uniqe key 
- it is little like primary key but it can accept only one null value and it cannot have duplicate values.

In [ ]:
-- uniqe key on 2 fields (FirstName and LastName)
ALTER TABLE Persons
ADD CONSTRAINT UC_Person UNIQUE (FirstName,LastName);

ALTER TABLE Persons
DROP INDEX UC_Person;

# Python connectivity [link](https://pynative.com/python-mysql-database-connection/)
- connect with python
- create database
- read opration(Using select)
- create opration (table create)
- create oprtion(Insert values)
    - single rows [exicute()]
    - multi rows [exicutemany()]
    - commit()
- fetchall()
- fetchone()
- fetchmany(size=5)
- delete
- Update()
    - single rows
    - multi rows

In [2]:
import mysql.connector
try:
  mydb = mysql.connector.connect(
    host="127.0.0.1",
    user="Rajpatel",
    password="Raj@1234",
    database="bookstore"
  )

  print(mydb)
except Exception as e:
  print(e)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000019316BB1580>

In [3]:
#  create database
try:
    mycursor = mydb.cursor()
    mycursor.execute("CREATE DATABASE mydatabase")
except Exception as e:
    print(e)

1007 (HY000): Can't create database 'mydatabase'; database exists

In [4]:
# read opration
try:
    mycursor = mydb.cursor()
    mycursor.execute("""SELECT * FROM raj_intern_prectice.books2
where Price_Range Between 50 and 150;""")
except Exception as e:
    print(e)
for x in mycursor:
  print(x)

(1, 'Computer Architecture', 'Computers', Decimal('125.60'), '100-150')
(2, 'Advanced Composite Materials', 'Science', Decimal('172.56'), '150-200')
(3, 'Asp.Net 4 Blue Book', 'Programming', Decimal('56.00'), '50-100')
(4, 'Strategies Unplugged', 'Science', Decimal('99.99'), '50-100')
(5, 'Teaching Science', 'Science', Decimal('164.10'), '150-200')
(6, 'Challenging Times', 'Business', Decimal('150.70'), '150-200')
(7, 'Circuit Bending', 'Science', Decimal('112.00'), '100-150')
(9, 'ADOBE Premiere', 'Computers', Decimal('62.20'), '50-100')

In [ ]:
#create commands
try:
    mycursor = mydb.cursor()
    mycursor.execute("""CREATE TABLE Books23(
    BookID   int  NOT NULL PRIMARY KEY AUTO_INCREMENT,
    BookName   varchar (50) NULL,
    Category   varchar (50) NULL,
    Price   numeric (18, 2) NULL,
    Price_Range varchar (20) NULL
);""")
except Exception as e:
    print(e)

In [ ]:
mycursor.execute("CREATE TABLE customers (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), address VARCHAR(255))")

# update one colume
mycursor = mydb.cursor()

sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = ("John", "Highway 21")
mycursor.execute(sql, val)

mydb.commit()     #for affect into database

print(mycursor.rowcount, "record inserted.")

In [ ]:
#multe updates 
mycursor = mydb.cursor()

sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = [
  ('Peter', 'Lowstreet 4'),
  ('Amy', 'Apple st 652'),
  ('Hannah', 'Mountain 21'),
  ('Michael', 'Valley 345'),
  ('Sandy', 'Ocean blvd 2'),
  ('Betty', 'Green Grass 1'),
  ('Richard', 'Sky st 331'),
  ('Susan', 'One way 98'),
  ('Vicky', 'Yellow Garden 2'),
  ('Ben', 'Park Lane 38'),
  ('William', 'Central st 954'),
  ('Chuck', 'Main Road 989'),
  ('Viola', 'Sideway 1633')
]

mycursor.executemany(sql, val) #executemany for multiple query

mydb.commit()

print(mycursor.rowcount, "was inserted.")

In [ ]:
mycursor = mydb.cursor()

mycursor.execute("SELECT name, address FROM customers")

# myresult = mycursor.fetchall() dont know why we use

for x in mycursor:
  print(x)

In [ ]:
# delete opeation
mycursor = mydb.cursor()
mycursor.execute("DELETE   FROM customers where id = 34;")
mydb.commit()

In [ ]:
#update opration
mycursor = mydb.cursor()
user_input = ["raj"]
mycursor.execute("UPDATE  customers   set name = %s where id = 35;",user_input)
mydb.commit()

In [66]:
mycursor.execute("DELETE   FROM customers where id = 34;")
mycursor.execute("SELECT *  FROM customers where id = 35;")

for i in mycursor:
    print(i)

[cursor questions](https://stackoverflow.com/questions/22921181/python-mysql-connector-executing-second-sql-statement-within-cursor-loop)\
[2nd](https://stackoverflow.com/questions/11927146/python-mysqldb-multiple-cursors-for-one-connection)